* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

h1, h2 {
  font-family: "Dancing Script", cursive;
  color: rgb(245, 117, 187);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.site-header {
  background: white;
  color: rgb(61, 143, 179);
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 70px;
  align-items: center;
  z-index: 1;
  box-shadow: 0 1px 8px 1px rgb(205, 205, 205);
}

.site-title {
  width: 90px;
  font-family: "Lobster", cursive;
}

.header-text {
  display: block;
  margin-left: auto;
  color: black;
}

.booknow-btn-header {
  margin-left: .5rem;
  transition: .2s ease-in-out;
  text-decoration: none;
}

.mobile-nav {
  display: flex;
  gap: 2rem;
  background-color: rgb(42, 110, 138);
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  top: 70px;
  transition: .3s all ease;
}

.desktop-nav {
  display: none;
}

.fa-bars, .fa-xmark {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.nav-item {
  font-size: 1.25rem;
  margin: 1rem 0;
  padding: 1rem;
  border-bottom: 1px solid rgb(42, 110, 138);
  transition: .2s ease-in-out;
  text-align: center;
  color:rgb(211, 239, 251);
  text-decoration: none;
}

a {
  padding: 1rem;
}

.nav-item:hover {
  border-bottom: 1px solid rgb(211, 239, 251);
  color: white;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(61, 143, 179);
  background-image: url("/cleaningspray.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 100%;
}

.hero-title {
  margin: 3rem 1rem 1rem;
}

.cta-container {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding: 0;
  width: 80%;
  text-align: center;
  margin: 1rem auto;
}

.cta-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.fa-circle-check {
  margin-right: 0;
  color: rgb(62, 192, 247);
  border-radius: 100%;
  font-size: 1.5rem;
}

.cta-text {
  color: white;
  margin: .75rem auto;
}

.booknow-btn, .booknow-btn-header {
  border: none;
  font-size: 1rem;
  padding: .5rem;
  background: rgb(61, 143, 179);
  color: white;
  border-radius: 6px;
  transition: .2s ease-in-out;
  text-decoration: none;
}

.booknow-btn:hover, .booknow-btn-header:hover {
  background: rgb(42, 110, 138);
}

.services-title,
.about-title {
  margin-bottom: .25rem;
}

.title-underline {
  border-bottom: 10px solid rgb(61, 143, 179);
  width: 200px;
  margin: 0 auto;
}

.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1rem;
}

.service-title-icon-container {
  display: flex;
  text-align: left;
  justify-content: left;
}

.services-icon {
  width: 60px;
}

.service-item {
  border-bottom: 2px solid rgb(237, 237, 237);
  width: 90%;
  max-width: 400px;
  margin: 1rem auto;
  padding: .5rem;
}

.service-item-title {
  padding-bottom: .25rem;
  padding-left: 10px;
  margin-bottom: 0;
}

.service-item-description {
  padding: 0 10px;
  text-align: left;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
  background: rgb(61, 143, 179);
  color: white;
}

.fa-chevron-down {
  font-size: 1.5rem;
}

.more-about-us-section {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid rgb(237, 237, 237);
  width: 80%;
  margin: 0 auto;
}

.our-tenants-list {
  list-style: none;
  padding: 0;
}

.tenants-item {
  background: rgb(61, 143, 179);
  width: 85%;
  max-width: 300px;
  margin: .5rem auto;
  padding: 1rem;
  color: white;
}

.call-today-text {
  margin: 2rem 0;
  padding: 0 2rem;
}

.call-today-btn {
  background: rgb(61, 143, 179);
  color: white;
  text-decoration: none;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgb(156, 156, 156);
  transition: .2s ease-in-out;
}

.call-today-btn:visited {
  color: white;
}

.call-today-btn:hover {
  background: rgb(42, 110, 138);
}

.review-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 1rem 1rem;
  text-align: center;
  position: relative;
  padding-bottom: 2rem;
  border-bottom: 2px solid rgb(237, 237, 237)
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.review-item {
  border: 2px solid rgb(237, 237, 237);
  border-radius: 10px;
  padding: .5rem;
  box-shadow: 0 0 10px 1px rgb(237, 237, 237);
}

.review-text {
  text-align: left;
  margin-left: 1rem;
}

.review-name {
  text-align: right;
  margin-right: 1rem;
}

.gall-img {
  width: 100%;
  height: 500px;
  transition: background-image 1s ease-in-out, opacity 0.5s ease-in-out;
}

.location-section {
  margin: 48px 16px 16px;
  text-align: center;
}

.areas-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 1rem 0;
}

.town {
  background: rgb(62, 192, 247);
  color: white;
  margin: 0;
  padding: .5rem;
  border-radius: 5px;
}

footer {
  background: rgb(61, 143, 179);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.map {
  width: 90%;
  max-width: 600px;
  height: 400px;
}

.footer-text {
  margin-bottom: 0;
  color: white;
}

.fb-link {
  color: white;
  font-size: 2rem;
  padding: 0;
}

@media screen and (min-width: 650px) {
  .services-list {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
  }

  .service-title-icon-container {
    text-align: center;
    justify-content: center;
  }

  .service-item-description {
    text-align: center;
  }

  .our-tenants-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
  }

  .reviews-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .review-item {
    max-width: 500px;
  }
}

@media screen and (min-width: 950px) {

  .site-header {
    height: 80px;
  }

  .site-title {
    width: 120px;
  }

  .booknow-btn-header {
    margin: 0 1rem 0 .5rem;
  }

  .fa-bars, .fa-xmark, .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: flex;
    max-width: 650px;
    margin: 0 1rem 0 auto;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    transition: .3s all ease;
  }

  .header-text {
    margin: 0 0 0 1rem;
  }

  .nav-item {
    color: rgb(61, 143, 179);
    font-size: 1rem;
    border-bottom: 0;
    transition: .3s all ease;
    border-bottom: 2px solid white;
  }

  .nav-item:hover {
    color: rgb(42, 110, 138);
    border-bottom: 2px solid rgb(42, 110, 138);
  }

  .cta-container {
    flex-direction: row;
  }
}


@media screen and (min-width: 1150px) {
  .our-tenants-list {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    gap: 50px;
    justify-content: center;
    margin: 0 auto;
  }
}