* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.site-header {
  background: white;
  color: rgb(61, 143, 179);
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 70px;
  align-items: center;
  z-index: 1;
}

.site-title {
  margin: 0 0 0 .75rem;
  width: 90px;
  font-family: "Lobster", cursive;
}

.booknow-btn-header {
  margin: auto;
  transition: .2s ease-in-out;
}

nav {
  display: flex;
  background-color: rgb(42, 110, 138);
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  top: 70px;
  transition: .3s all ease;
}

.fa-bars, .fa-xmark {
  margin-left: auto;
  margin-right: 1rem;
  font-size: 2rem;
}

.nav-item {
  font-size: 1.25rem;
  margin: 1rem 0;
  padding: 1rem;
  border-bottom: 1px solid rgb(42, 110, 138);
  transition: .2s ease-in-out;
  text-align: center;
  color:rgb(211, 239, 251);
  text-decoration: none;
}

a {
  padding: 1rem;
}

.nav-item:hover {
  border-bottom: 1px solid rgb(211, 239, 251);
  color: white;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(61, 143, 179);
  background-image: url("/cleaningspray.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

.hero-title {
  margin: 1rem;
  color: white;
}

.booknow-btn, .booknow-btn-header {
  border: none;
  font-size: 1rem;
  padding: .5rem;
  background: rgb(61, 143, 179);
  color: white;
  border-radius: 6px;
  transition: .2s ease-in-out;
}

.booknow-btn:hover, .booknow-btn-header:hover {
  background: rgb(42, 110, 138);
}

.services-title,
.about-title {
  margin-bottom: .25rem;
}

.title-underline {
  border-bottom: 10px solid rgb(61, 143, 179);
  width: 200px;
  margin: 0 auto;
}

.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1rem;
}

.service-title-icon-container {
  display: flex;
  text-align: left;
  justify-content: left;
}

.services-icon {
  width: 60px;
}

.services-title {}

.service-item {
  border-bottom: 2px solid rgb(237, 237, 237);
  width: 90%;
  max-width: 400px;
  margin: 1rem auto;
  padding: .5rem;
}

.service-item-title {
  padding-bottom: .25rem;
  padding-left: 10px;
  margin-bottom: 0;
}

/* .service-item-underline {
  border-bottom: 3px solid rgb(61, 143, 179);
  border-radius: 6px;
  width: 100px;
  margin-left: 10px;
} */

.service-item-description {
  padding: 0 10px;
  text-align: left;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
  background: rgb(61, 143, 179);
  color: white;
}

.about-title {}

.fa-chevron-down {
  font-size: 1.5rem;
}

.about-description {
  
}

.more-about-us-section {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid rgb(237, 237, 237);
  width: 80%;
  margin: 0 auto;
}

.our-tenants-list {
  list-style: none;
  padding: 0;
}

.tenants-item {
  background: rgb(61, 143, 179);
  width: 80%;
  max-width: 300px;
  margin: .5rem auto;
  padding: 1rem;
  color: white;
}

.call-today-text {
  margin: 2rem 0;
  padding: 0 2rem;
}

.call-today-btn {
  background: rgb(61, 143, 179);
  color: white;
  text-decoration: none;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgb(156, 156, 156);
  transition: .2s ease-in-out;
}

.call-today-btn:visited {
  color: white;
}

.call-today-btn:hover {
  background: rgb(42, 110, 138);
}

.review-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 1rem 1rem;
  text-align: center;
  gap: 16px;
  position: relative;
}

.review-section-title {}

.review-item {
  border: 2px solid rgb(237, 237, 237);
  border-radius: 10px;
  padding: .5rem;
  box-shadow: 0 0 10px 1px rgb(237, 237, 237);
}

.review-text {
  text-align: left;
  margin-left: 1rem;
}

.review-name {
  text-align: right;
  margin-right: 1rem;
}

.contact-section {}

footer {
  background: rgb(61, 143, 179);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer-text {
  margin-bottom: 0;
  color: white;
}

.fb-link {
  color: white;
  font-size: 2rem;
  padding: 0;
}